* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Cousine', monospace;
    background-color: whitesmoke;
    background-size: auto 100vh;
    height: 100vh;
    font-size: 14px;
}

@media (min-width: 400px) {
    body {
        font-size: 18px;
    }
}

@media (min-width: 600px) {
    body {
        font-size: 28px;
    }
}

header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    background-color: black;
    position: fixed;
    width: 100vw;
    top: 0px;
}

.menu ul {
    display: flex;
    justify-content: space-around;
}

.menu li {
    list-style: none;
}

.menu a {
    display: block;
    padding: 9px 18px;
}

a {
    text-decoration: none;
    color: wheat;
}

a:hover {
    text-decoration: underline;
    font-size: 32px;
}

.site-subtittle,
.site-tittle {
    text-align: center;
    display: block;
}

.site-tittle {
    font-size: : 4em;
    font-family: 'Balsamiq Sans', cursive;
}

.site-subtittle {
    font-family: 'Shadows Into Light', cursive;
}

.inicio { /*Titulo e subtitulo com borda*/
    padding: 0.5em;
    border-width: 6px;
    border-style: solid;
    border-color: black;

}

.portfolio {
    background-image: url("../img/fundo.jpg");
    padding: 2em;
    height: auto;
    min-height: 100vh;
}

.portfolio h2 { /*Nome portfolio*/
    font-family: 'Balsamiq Sans', cursive;
    font-size: 30px;
    margin-bottom: 1em;
    font-size: 2em;
    color: white;
}

.portfolio .grid {
    display: grid;
    gap: 5em;
}

.portfolio figure {
    text-align: center;
}

.img-portfolio {
    height: 240px;
    width: 240px;
    object-fit: contain;
    object-position: bottom;
}

@media (min-width: 560px) {
    .portfolio .grid {
    grid-template-columns: 240px 240px;
    }
}

@media (min-width: 880px) {
    .portfolio .grid {
    grid-template-columns: 240px 240px 240px;
    align-content: center;
    justify-content: center;
    height: calc(100vh - 8em - 48px);
    }
}

@media (min-width: 880px) {
    .portfolio .grid {
        gap: 12em;
        align-content: center;
        justify-content: center;
    }
    .img-portfolio {
        height: 340px;
        width: 440px;
    }
}

footer {
    font-size: 12px;
    padding: 1em;
    text-align: center;
    width: auto;
    color: wheat;
    background-color: black;
}


/*.img-inicio .img {
    border-radius: 50%;
    height: 280px;
    width: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
}*/

